[submodule "dbproject"]
	path = dbproject
	url = ../../Documents/aDatabases/dbproject/
[submodule "attendancetracker"]
	path = attendancetracker
	url = ../../Documents/aSeniorProject/final/
[submodule "arproject"]
	path = arproject
	url = ../../Documents/arproject/
